__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/

logs_10/*
logs_goal/*
logs_object/*
logs_long/*
logs_spatial/*

=12.4
=470,driver